# Postgres Secret
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ postgres_configuration_secret_name }}'
  namespace: '{{ meta.namespace }}'
stringData:
  password: '{{ database_password }}'
  username: '{{ database_username }}'
  database: '{{ database_name }}'
  port: '{{ database_port }}'
  host: '{{ database_host }}'
  type: '{{ database_type }}'

# Secret Key Secret
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ secret_key_secret_name }}'
  namespace: '{{ meta.namespace }}'
stringData:
  secret_key: '{{ secret_key }}'

# Admin Password Secret
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ admin_password_secret_name }}'
  namespace: '{{ meta.namespace }}'
stringData:
  password: '{{ admin_password }}'

# Broadcast Websocket Secret
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ broadcast_websocket_secret_name }}'
  namespace: '{{ meta.namespace }}'
stringData:
  secret: '{{ broadcast_websocket }}'
