# Postgres Secret
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ tower_name }}-postgres-configuration'
  namespace: '{{ meta.namespace }}'
stringData:
  password: '{{ database_password }}'
  username: '{{ database_username }}'
  database: '{{ database_name }}'
  port: '{{ database_port }}'
  host: '{{ database_host }}'
  type: '{{ database_type }}'

# Secret Key Secret
---
apiVersion: v1
kind: Secret
metadata:
{% raw %}
  name: '{{ tower_name }}'
  namespace: '{{ meta.namespace }}'
{% endraw %}
stringData:
  secret_key: '{{ secret_key }}'

# Admin Password Secret
---
apiVersion: v1
kind: Secret
metadata:
{% raw %}
  name: '{{ tower_name }}'
  namespace: '{{ meta.namespace }}'
{% endraw %}
stringData:
  password: '{{ admin_password }}'

# Broadcast Websocket Secret
---
apiVersion: v1
kind: Secret
metadata:
{% raw %}
  name: '{{ tower_name }}-broadcast-websocket'
  namespace: '{{ meta.namespace }}'
{% endraw %}
stringData:
  secret: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
