version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/docs"
    groups:
      dependencies:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
    labels:
      - "component:docs"
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      dependencies:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
