---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: example-awx
  labels:
    my/team: "foo"
    my/service: "bar"
    my/do-not-inherit: "yes"
spec:
{% if awx_image %}
  image: {{ awx_image }}
{% endif %}
{% if awx_version %}
  image_version: {{ awx_version }}
{% endif %}
  ingress_type: ingress
  ingress_path: /awx
  ingress_annotations: |
    kubernetes.io/ingress.class: nginx
  web_resource_requirements:
    requests:
      cpu: 50m
      memory: 32M
  task_resource_requirements:
    requests:
      cpu: 50m
      memory: 32M
  ee_resource_requirements:
    requests:
      cpu: 50m
      memory: 16M
  no_log: false
  postgres_resource_requirements: {}
  postgres_init_container_resource_requirements: {}
  redis_resource_requirements: {}
  additional_labels:
  - my/team
  - my/service
