---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: example-awx
  labels:
    my/team: "foo"
    my/service: "bar"
    my/do-not-inherit: "yes"
spec:
{% if awx_image %}
  image: {{ awx_image }}
{% endif %}
{% if awx_version %}
  image_version: {{ awx_version }}
{% endif %}
{% if awx_ee_image %}
  control_plane_ee_image: {{ awx_ee_image }}
  ee_images:
  - image: {{ awx_ee_image }}
    name: AWX EE
{% endif %}
  ingress_type: ingress
  ingress_path: /awx
  ingress_annotations: |
    kubernetes.io/ingress.class: nginx
  web_resource_requirements:
    requests:
      cpu: 20m
      memory: 32M
  task_resource_requirements:
    requests:
      cpu: 20m
      memory: 32M
  ee_resource_requirements:
    requests:
      cpu: 20m
      memory: 16M
  no_log: false
  postgres_resource_requirements: {}
  redis_resource_requirements: {}
  additional_labels:
  - my/team
  - my/service
  extra_settings:
  - setting: LOG_AGGREGATOR_LEVEL
    value: "'DEBUG'"
  task_readiness_period: 15
{% if additional_fields is defined %}
  {{ additional_fields | to_nice_yaml | indent(2) }}
{% endif %}
