---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: example-awx
spec:
{% if awx_image %}
  image: {{ awx_image }}
{% endif %}
{% if awx_version %}
  image_version: {{ awx_version }}
{% endif %}
  ingress_type: ingress
  ingress_annotations: |
    kubernetes.io/ingress.class: nginx
  web_resource_requirements:
    requests:
      cpu: 250m
      memory: 128M
  task_resource_requirements:
    requests:
      cpu: 250m
      memory: 128M
  ee_resource_requirements:
    requests:
      cpu: 200m
      memory: 64M
