---
- name: Cleanup backup associated with this option if enabled
  k8s_exec:
    namespace: "{{ backup_pvc_namespace }}"
    pod: "{{ ansible_operator_meta.name }}-db-management"
    container: "{{ ansible_operator_meta.name }}-db-management"
    command: >-
      bash -c 'rm -rf {{ backup_dir  }}'
