apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cluster-operator-viewer-clusterrole
rules:
- apiGroups:
  - config.openshift.io
  resources:
  - clusteroperators
  verbs:
  - get
