DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "{{ awx_postgres_database }}",
        'USER': "{{ awx_postgres_user }}",
        'PASSWORD': "{{ awx_postgres_pass }}",
        'HOST': '{{ awx_postgres_host }}',
        'PORT': "{{ awx_postgres_port }}",
        'OPTIONS': { 'sslmode': '{{ awx_postgres_sslmode }}',
                     {%- if awx_postgres_sslmode == 'verify-ca' or awx_postgres_sslmode == 'verify-full' %}
                     'sslrootcert': '{{ ca_trust_bundle }}',
                     {%- endif %}
        },
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ broadcast_websocket_secret_value }}"
