---
- name: Update admin password status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
    status:
      towerAdminPasswordSecret: "{{ admin_password_secret['resources'][0]['metadata']['name'] }}"

- name: Update admin user status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
    status:
      towerAdminUser: "{{ tower_admin_user }}"

- name: Update postgres configuration status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
    status:
      postgresConfigurationSecret: "{{ pg_config['resources'][0]['metadata']['name'] }}"

- name: Update broadcast websocket status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
    status:
      broadcastWebsocketSecret: "{{ broadcast_websocket_secret['resources'][0]['metadata']['name'] }}"

- name: Update secret key status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
    status:
      secretKeySecret: "{{ secret_key_secret_name }}"

- name: Retrieve instance version
  k8s_exec:
    namespace: "{{ meta.namespace }}"
    pod: "{{ tower_pod_name }}"
    container: "{{ meta.name }}-task"
    command: >-
      bash -c "awx-manage --version"
  register: instance_version
  changed_when: false

- name: Update version status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
    status:
      towerVersion: "{{ instance_version.stdout | trim }}"

- name: Update image status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
    status:
      towerImage: "{{ tower_image }}"

- block:
    - name: Retrieve route URL
      k8s_info:
        kind: Route
        namespace: '{{ meta.namespace }}'
        name: '{{ meta.name }}'
      register: route_url

    - name: Update URL status
      operator_sdk.util.k8s_status:
        api_version: '{{ api_version }}'
        kind: "{{ kind }}"
        name: "{{ meta.name }}"
        namespace: "{{ meta.namespace }}"
        status:
          towerURL: "https://{{ route_url['resources'][0]['status']['ingress'][0]['host'] }}"

  when: tower_ingress_type | lower == 'route'

- name: Update towerMigratedFromSecret status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
    status:
      towerMigratedFromSecret: "{{ tower_migrated_from_secret }}"
  when: tower_migrated_from_secret is defined
