---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: awx-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: awx-operator
  template:
    metadata:
      labels:
        name: awx-operator
    spec:
      serviceAccountName: awx-operator
      containers:
        - name: awx-operator
          image: "{{ operator_image }}:{{ operator_version }}"
          imagePullPolicy: "{{ pull_policy|default('Always') }}"
          volumeMounts:
            - mountPath: /tmp/ansible-operator/runner
              name: runner
          env:
            # Watch all namespaces (cluster-scoped).
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: awx-operator
            - name: ANSIBLE_GATHERING
              value: explicit
            - name: OPERATOR_VERSION
              value: "{{ operator_version }}"
            - name: ANSIBLE_DEBUG_LOGS
              value: "{{ ansible_debug_logs|lower | default('false'|lower) }}"
            - name: DATABASE_CONTAINER_IMAGE
              value: postgres:12
            - name: REDIS_CONTAINER_IMAGE
              value: docker.io/redis:latest
            - name: INIT_CONTAINER_IMAGE
              value: quay.io/centos/centos:8
            - name: APPLICATION_CONTAINER_IMAGE
              value: quay.io/ansible/awx:19.2.2
            - name: CONTROL_PLANE_EE_CONTAINER_IMAGE
              value: quay.io/ansible/awx-ee:0.5.0
          livenessProbe:
            httpGet:
              path: /healthz
              port: 6789
            initialDelaySeconds: 15
            periodSeconds: 20
      volumes:
        - name: runner
          emptyDir: {}
