---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ deployment_type }}-backup-claim
  namespace: {{ meta.namespace}}
spec:
  accessModes:
    - ReadWriteOnce
{% if tower_backup_storage_class != '' %}
  storageClassName: {{ tower_backup_storage_class }}
{% endif %}
  resources:
    requests:
      storage: {{ tower_backup_size | default('5Gi', true) }}
