---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ deployment_type }}-backup-pv
  namespace: {{ meta.namespace}}
  labels:
    type: awx-backup
spec:
  storageClassName: standard
  capacity:
    storage: "{{ tower_backup_size | default('5Gi', true) }}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
