---
apiVersion: v1
kind: Secret
metadata:
{% raw %}
  name: '{{ meta.name }}-broadcast-websocket'
  namespace: '{{ meta.namespace }}'
{% endraw %}
stringData:
  secret: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
