---
apiVersion: v1
kind: Event
metadata:
  name: backup-error.{{ now }}
  namespace: {{ ansible_operator_meta.namespace }}
involvedObject:
  apiVersion: awx.ansible.com/v1beta1
  kind: {{ kind }}
  name: {{ ansible_operator_meta.name }}
  namespace: {{ ansible_operator_meta.namespace }}
message: {{ error_msg }}
reason: BackupFailed
type: Warning
firstTimestamp: {{ now }}
lastTimestamp: {{ now }}
count: 1
