---
apiVersion: v1
kind: Pod
metadata:
  name: {{ ansible_operator_meta.name }}-db-management
  namespace: {{ backup_pvc_namespace }}
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/part-of: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    app.kubernetes.io/component: '{{ deployment_type }}'
    app.kubernetes.io/operator-version: '{{ lookup("env", "OPERATOR_VERSION") }}'
spec:
  containers:
  - name: {{ ansible_operator_meta.name }}-db-management
    image: "{{ _postgres_image }}"
    imagePullPolicy: Always
    command: ["sleep", "infinity"]
    volumeMounts:
    - name: {{ ansible_operator_meta.name }}-backup
      mountPath: /backups
      readOnly: false
  volumes:
    - name: {{ ansible_operator_meta.name }}-backup
      persistentVolumeClaim:
        claimName: {{ backup_claim }}
        readOnly: false
  restartPolicy: Never
