# Postgres Secret.
---
apiVersion: v1
kind: Secret
metadata:
{% raw %}
  name: '{{ tower_name }}-postgres-configuration'
  namespace: '{{ meta.namespace }}'
{% endraw %}
stringData:
  password: '{{ database_password }}'
  username: '{{ database_username }}'
  database: '{{ database_name }}'
  port: '{{ database_port }}'
  host: '{{ database_host }}'
  type: '{{ database_type }}'
