# AWX Secret Configurations
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-app-credentials'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/part-of: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    app.kubernetes.io/component: '{{ deployment_type }}'
    app.kubernetes.io/operator-version: '{{ lookup("env", "OPERATOR_VERSION") }}'
data:
  credentials.py: "{{ lookup('template', 'credentials.py.j2') | b64encode }}"
  ldap.py: "{{ lookup('template', 'ldap.py.j2') | b64encode }}"
  execution_environments.py: "{{ lookup('template', 'execution_environments.py.j2') | b64encode }}"
