{% if awx_postgres_pass.startswith('$encrypted$') | bool %}
from awx.main.utils import decrypt_value, get_encryption_key

{% endif %}
DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "{{ awx_postgres_database }}",
        'USER': "{{ awx_postgres_user }}",
{% if awx_postgres_pass.startswith('$encrypted$') | bool %}
        'PASSWORD': decrypt_value(get_encryption_key('value'),'"{{ awx_postgres_pass }}"'),
{% else %}
        'PASSWORD': "{{ awx_postgres_pass }}",
{% endif %}
        'HOST': '{{ awx_postgres_host }}',
        'PORT': "{{ awx_postgres_port }}",
        'OPTIONS': { 'sslmode': '{{ awx_postgres_sslmode }}',
                     'sslrootcert': '{{ ca_trust_bundle }}',
        },
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ broadcast_websocket_secret_value }}"
