---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ meta.name }}-secret-key'
  namespace: '{{ meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ meta.name }}'
    app.kubernetes.io/part-of: '{{ meta.name }}'
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/component: awx
stringData:
{% if tower_custom_secret_key %}
  secret_key: '{{ tower_custom_secret_key }}'
{% else %}
  secret_key: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
{% endif %}
