# AWX Secret Configurations
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ meta.name }}-app-credentials'
  namespace: '{{ meta.namespace }}'
data:
  credentials_py: "{{ lookup('template', 'credentials.py.j2') | b64encode }}"
  ldap_py: "{{ lookup('template', 'ldap.py.j2') | b64encode }}"
