{% if 'ingress' == tower_ingress_type|lower %}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: '{{ meta.name }}-ingress'
  namespace: '{{ meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ meta.name }}'
    app.kubernetes.io/part-of: '{{ meta.name }}'
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/component: awx
{% if tower_ingress_annotations %}
  annotations:
    {{ tower_ingress_annotations | indent(width=4) }}
{% endif %}
spec:
  rules:
    - host: '{{ tower_hostname }}'
      http:
        paths:
          - path: '{{ tower_ingress_rule_path | default('/') }}'
            backend:
              serviceName: '{{ meta.name }}-service'
              servicePort: 80
{% if tower_ingress_tls_secret %}
  tls:
    - hosts:
        - {{ tower_hostname }}
      secretName: {{ tower_ingress_tls_secret }}
{% endif %}
{% endif %}

{% if 'route' == tower_ingress_type|lower %}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: '{{ meta.name }}'
  namespace: '{{ meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ meta.name }}'
    app.kubernetes.io/part-of: '{{ meta.name }}'
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/component: awx
spec:
{% if tower_route_host != '' %}
  host: {{ tower_route_host }}
{% endif %}
  port:
    targetPort: '{{ (tower_route_tls_termination_mechanism | lower == "passthrough") | ternary("https", "http") }}'
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: {{ tower_route_tls_termination_mechanism | lower }}
{% if tower_route_tls_termination_mechanism | lower == 'edge' and tower_route_tls_secret != '' %}
    key: |-
{{ tower_route_tls_key | indent(width=6, indentfirst=True) }}
    certificate: |-
{{ tower_route_tls_crt | indent(width=6, indentfirst=True) }}
{% if tower_route_ca_crt is defined %}
    caCertificate: |-
{{ tower_route_ca_crt | indent(width=6, indentfirst=True) }}
{% endif %}
{% endif %}
  to:
    kind: Service
    name: {{ meta.name }}-service
    weight: 100
  wildcardPolicy: None
{% endif %}
