---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ meta.name }}-admin-password'
  namespace: '{{ meta.namespace }}'
stringData:
  password: '{{ lookup('password', 'ts' + meta.name + 'pg length=32 chars=ascii_letters,digits') }}'
