---
apiVersion: v1
kind: Service
metadata:
  name: '{{ meta.name }}-service'
  namespace: '{{ meta.namespace }}'
  labels:
    app: '{{ deployment_type }}'
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8052
      name: http
{% if tower_ingress_type | lower == 'route' and tower_route_tls_termination_mechanism | lower == 'passthrough' %}
    - port: 443
      protocol: TCP
      targetPort: 8053
      name: https
{% endif %}
  selector:
    app: '{{ deployment_type }}'
{% if tower_ingress_type != "none" %}
  type: NodePort
{% endif %}
