# AWX Deployment.
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ meta.name }}'
  namespace: '{{ meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ meta.name }}'
    app.kubernetes.io/version: '{{ tower_image_version }}'
    app.kubernetes.io/part-of: '{{ meta.name }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    app.kubernetes.io/component: '{{ deployment_type }}'
spec:
  replicas: {{ tower_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: '{{ meta.name }}'
      app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
      app.kubernetes.io/component: '{{ deployment_type }}'
  template:
    metadata:
      labels:
        app.kubernetes.io/name: '{{ meta.name }}'
        app.kubernetes.io/version: '{{ tower_image_version }}'
        app.kubernetes.io/part-of: '{{ meta.name }}'
        app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
        app.kubernetes.io/component: '{{ deployment_type }}'
    spec:
      serviceAccountName: '{{ meta.name }}'
{% if tower_image_pull_secret %}
      imagePullSecrets:
        - name: {{ tower_image_pull_secret }}
{% endif %}
      containers:
        - image: '{{ tower_redis_image }}:{{ tower_redis_image_version }}'
          imagePullPolicy: '{{ tower_image_pull_policy }}'
          name: redis
          args: ["redis-server", "/etc/redis.conf"]
          volumeMounts:
            - name: {{ meta.name }}-redis-config
              mountPath: "/etc/redis.conf"
              subPath: redis.conf
              readOnly: true
            - name: {{ meta.name }}-redis-socket
              mountPath: "/var/run/redis"
            - name: "{{ meta.name }}-redis-data"
              mountPath: "/data"
        - image: '{{ tower_image }}:{{ tower_image_version }}'
          name: '{{ meta.name }}-web'
{% if tower_web_command %}
          command: {{ tower_web_command }}
{% endif %}
{% if tower_web_args %}
          args: {{ tower_web_args }}
{% endif %}
          imagePullPolicy: '{{ tower_image_pull_policy }}'
          ports:
            - containerPort: 8052
{% if tower_ingress_type | lower == 'route' and tower_route_tls_termination_mechanism | lower == 'passthrough' %}
            - containerPort: 8053
{% endif %}
          volumeMounts:
            - name: "{{ meta.name }}-application-credentials"
              mountPath: "/etc/tower/conf.d/execution_environments.py"
              subPath: execution_environments.py
              readOnly: true
            - name: "{{ meta.name }}-application-credentials"
              mountPath: "/etc/tower/conf.d/credentials.py"
              subPath: credentials.py
              readOnly: true
            - name: "{{ meta.name }}-application-credentials"
              mountPath: "/etc/tower/conf.d/ldap.py"
              subPath: ldap.py
              readOnly: true
{% if tower_ingress_type | lower == 'route' and tower_route_tls_termination_mechanism | lower == 'passthrough' %}
            - name: "{{ meta.name }}-nginx-certs"
              mountPath: "/etc/nginx/pki"
              readOnly: true
{% endif %}
{% if ldap_cacert_ca_crt %}
            - name: "{{ meta.name }}-ldap-cacert"
              mountPath: /etc/openldap/certs/ldap-ca.crt
              subPath: ldap-ca.crt
              readOnly: true
{% endif %}
            - name: "{{ secret_key_secret_name }}"
              mountPath: /etc/tower/SECRET_KEY
              subPath: SECRET_KEY
              readOnly: true
            - name: {{ meta.name }}-settings
              mountPath: /etc/tower/settings.py
              subPath: settings.py
              readOnly: true
            - name: {{ meta.name }}-nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
            - name: {{ meta.name }}-redis-socket
              mountPath: "/var/run/redis"
            - name: supervisor-socket
              mountPath: "/var/run/supervisor"
            - name: rsyslog-socket
              mountPath: "/var/run/awx-rsyslog"
            - name: rsyslog-dir
              mountPath: "/var/lib/awx/rsyslog"
            - name: "{{ meta.name }}-projects"
              mountPath: "/var/lib/awx/projects"
{% if development_mode | bool %}
            - name: awx-devel
              mountPath: "/awx_devel"
{% endif %}
{% if tower_web_extra_volume_mounts -%}
            {{ tower_web_extra_volume_mounts | indent(width=12, indentfirst=True) }}
{% endif %}
          env:
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
{% if development_mode | bool %}
            - name: AWX_KUBE_DEVEL
              value: "1"
{% endif %}
{% if tower_web_extra_env -%}
            {{ tower_web_extra_env | indent(width=12, indentfirst=True) }}
{% endif %}
          resources: {{ tower_web_resource_requirements }}
        - image: '{{ tower_image }}:{{ tower_image_version }}'
          name: '{{ meta.name }}-task'
          imagePullPolicy: '{{ tower_image_pull_policy }}'
{% if tower_task_privileged == true %}
          securityContext:
            privileged: true
{% endif %}
{% if tower_task_command %}
          command: {{ tower_task_command }}
{% endif %}
{% if tower_task_args %}
          args: {{ tower_task_args }}
{% endif %}
          volumeMounts:
            - name: "{{ meta.name }}-application-credentials"
              mountPath: "/etc/tower/conf.d/execution_environments.py"
              subPath: execution_environments.py
              readOnly: true
            - name: "{{ meta.name }}-application-credentials"
              mountPath: "/etc/tower/conf.d/credentials.py"
              subPath: credentials.py
              readOnly: true
            - name: "{{ meta.name }}-application-credentials"
              mountPath: "/etc/tower/conf.d/ldap.py"
              subPath: ldap.py
              readOnly: true
            - name: "{{ secret_key_secret_name }}"
              mountPath: /etc/tower/SECRET_KEY
              subPath: SECRET_KEY
              readOnly: true
            - name: {{ meta.name }}-settings
              mountPath: /etc/tower/settings.py
              subPath: settings.py
              readOnly: true
            - name: {{ meta.name }}-redis-socket
              mountPath: "/var/run/redis"
            - name: supervisor-socket
              mountPath: "/var/run/supervisor"
            - name: rsyslog-socket
              mountPath: "/var/run/awx-rsyslog"
            - name: rsyslog-dir
              mountPath: "/var/lib/awx/rsyslog"
            - name: receptor-socket
              mountPath: "/var/run/receptor"
            - name: "{{ meta.name }}-projects"
              mountPath: "/var/lib/awx/projects"
{% if development_mode | bool %}
            - name: awx-devel
              mountPath: "/awx_devel"
{% endif %}
{% if tower_task_extra_volume_mounts -%}
            {{ tower_task_extra_volume_mounts | indent(width=12, indentfirst=True) }}
{% endif %}
          env:
            - name: SUPERVISOR_WEB_CONFIG_PATH
              value: "/etc/supervisord.conf"
            - name: AWX_SKIP_MIGRATIONS
              value: "1"
            - name: MY_POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
{% if development_mode | bool %}
            - name: AWX_KUBE_DEVEL
              value: "1"
{% endif %}
{% if tower_task_extra_env -%}
            {{ tower_task_extra_env | indent(width=12, indentfirst=True) }}
{% endif %}
          resources: {{ tower_task_resource_requirements }}
        - image: '{{ tower_ee_images[0].image }}'
          name: '{{ meta.name }}-ee'
          imagePullPolicy: '{{ tower_image_pull_policy }}'
          args: ['receptor', '--config', '/etc/receptor.conf']
          volumeMounts:
            - name: "{{ meta.name }}-receptor-config"
              mountPath: "/etc/receptor.conf"
              subPath: receptor.conf
              readOnly: true
            - name: receptor-socket
              mountPath: "/var/run/receptor"
            - name: "{{ meta.name }}-projects"
              mountPath: "/var/lib/awx/projects"
{% if tower_ee_extra_volume_mounts -%}
            {{ tower_ee_extra_volume_mounts | indent(width=12, indentfirst=True) }}
{% endif %}
{% if tower_ee_extra_env -%}
            {{ tower_ee_extra_env | indent(width=12, indentfirst=True) }}
{% endif %}
          resources: {{ tower_ee_resource_requirements }}
{% if development_mode | bool %}
          env:
            - name: SDB_NOTIFY_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
{% endif %}
{% if tower_node_selector %}
      nodeSelector:
        {{ tower_node_selector | indent(width=8) }}
{% endif %}
{% if tower_tolerations %}
      tolerations:
        {{ tower_tolerations | indent(width=8) }}
{% endif %}
      volumes:
{% if tower_ingress_type | lower == 'route' and tower_route_tls_termination_mechanism | lower == 'passthrough' %}
        - name: "{{ meta.name }}-nginx-certs"
          secret:
            secretName: "{{ tower_route_tls_secret }}"
            items:
              - key: tls.key
                path: 'web.key'
              - key: tls.crt
                path: 'web.crt'
{% endif %}
{% if ldap_cacert_ca_crt %}
        - name: "{{ meta.name }}-ldap-cacert"
          secret:
            secretName: "{{ ldap_cacert_secret }}"
            items:
              - key: ldap-ca.crt
                path: 'ldap-ca.crt'
{% endif %}
        - name: "{{ meta.name }}-application-credentials"
          secret:
            secretName: "{{ meta.name }}-app-credentials"
            items:
              - key: credentials.py
                path: 'credentials.py'
              - key: ldap.py
                path: 'ldap.py'
              - key: execution_environments.py
                path: 'execution_environments.py'
        - name: "{{ secret_key_secret_name }}"
          secret:
            secretName: '{{ secret_key_secret_name }}'
            items:
              - key: secret_key
                path: SECRET_KEY
        - name: {{ meta.name }}-settings
          configMap:
            name: '{{ meta.name }}-{{ deployment_type }}-configmap'
            items:
              - key: settings
                path: settings.py
        - name: {{ meta.name }}-nginx-conf
          configMap:
            name: '{{ meta.name }}-{{ deployment_type }}-configmap'
            items:
              - key: nginx_conf
                path: nginx.conf
        - name: {{ meta.name }}-redis-config
          configMap:
            name: {{ meta.name }}-{{ deployment_type }}-configmap
            items:
              - key: redis_conf
                path: redis.conf
        - name: {{ meta.name }}-redis-socket
          emptyDir: {}
        - name: {{ meta.name }}-redis-data
          emptyDir: {}
        - name: supervisor-socket
          emptyDir: {}
        - name: rsyslog-socket
          emptyDir: {}
        - name: receptor-socket
          emptyDir: {}
        - name: rsyslog-dir
          emptyDir: {}
        - name: {{ meta.name }}-receptor-config
          configMap:
            name: '{{ meta.name }}-{{ deployment_type }}-configmap'
            items:
              - key: receptor_conf
                path: receptor.conf
        - name: "{{ meta.name }}-projects"
{% if tower_projects_persistence|bool %}
          persistentVolumeClaim:
{% if tower_projects_existing_claim %}
            claimName: {{ tower_projects_existing_claim }}
{% else %}
            claimName: '{{ meta.name }}-projects-claim'
{% endif %}
{% else %}
          emptyDir: {}
{% endif %}
{% if development_mode | bool %}
        - name: awx-devel
          hostPath:
            path: /awx_devel
{% endif %}
{% if tower_extra_volumes -%}
        {{ tower_extra_volumes | indent(width=8, indentfirst=True) }}
{% endif %}
