apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ ansible_operator_meta.name }}-redirect-page
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
  redirect-page.html: |
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="15; url={{ public_base_url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redirecting to Ansible Automation Platform</title>

        <!-- Favicon links -->
        <link rel="icon" type="image/x-icon" href="static/media/favicon.ico">

        <!-- Link to DRF's CSS -->
        <link rel="stylesheet" type="text/css" href="static/rest_framework/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/rest_framework/css/bootstrap-theme.min.css">

        <style>
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                padding-top: 0px;
                /* background-color: rgb(34, 34, 34); */
            }
            .banner {
                background-color: #151414;
                color: rgb(255, 255, 255);
                padding: 20px;
                margin-bottom: 20px;
                min-height: 70px; /* Ensure the banner is tall enough to fit the logo */
                text-align: left;
            }
            .logo {
                width: 150px;
                margin-bottom: 20px;
            }
            a {
                color: #007BFF;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
            .doc-note {
                font-size: 0.7em; /* Makes the text smaller */
                color: #555; /* Optional: Change text color to a lighter shade */
                background-color: #f9f9f9; /* Optional: Light background color */
                padding: 10px; /* Optional: Add some padding */
                margin: 10px 0; /* Optional: Add some margin */
            }
        </style>
    </head>
    <body>
        <!-- Banner Section with Brand Logo -->
        <div class="banner">
            <img src="/static/media/aap-logo.svg" alt="Brand Logo">
        </div>

        <h2>Redirecting to Ansible Automation Platform...</h2>
        <p>If you are not redirected automatically, <a href="{{ public_base_url }}">click here</a> to go to AAP.</p>
        <p class="doc-note">
            The API endpoints for this platform service will temporarily remain available at the URL for this service.
            Please use the Ansible Automation Platform API endpoints corresponding to this component in the future.
            These can be found at <a href="{{ public_base_url }}/api/{{ deployment_type_shortname }}" target="_blank">{{ public_base_url }}/api/{{ deployment_type_shortname }}/</a>.
        </p>

        <!-- Include any additional scripts if needed -->
        <script src="static/rest_framework/js/jquery-3.7.1.min.js"></script>
        <script src="static/rest_framework/js/bootstrap.min.js"></script>
    </body>
    </html>