DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "awx",
        'USER': "awx",
        'PASSWORD': "{{ tower_postgres_pass }}",
        'HOST': '{{ meta.name }}-postgres',
        'PORT': "{{ tower_postgres_port }}",
        'OPTIONS': { 'sslmode': '{{ pg_sslmode|default("prefer") }}',
                     'sslrootcert': '{{ ca_trust_bundle }}',
        },
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ tower_broadcast_websocket_secret | b64encode }}"
