---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: '{{ ansible_operator_meta.name }}-web'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}-web'
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(4) | trim }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: '{{ ansible_operator_meta.name }}-web'
      app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
      app.kubernetes.io/component: '{{ deployment_type }}'
  policyTypes:
    - Ingress
    - Egress
  ingress:
    # Allow traffic on the HTTP serving port from any source (routers,
    # ingress controllers, NodePort, gateway, and other AAP components).
    - ports:
        - protocol: TCP
          port: 8052
{% if ingress_type | lower == 'route' and route_tls_termination_mechanism | lower == 'passthrough' %}
        - protocol: TCP
          port: 8053
{% endif %}
  egress:
    # Allow DNS resolution via OpenShift DNS.
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: openshift-dns
      ports:
        - protocol: TCP
          port: 5353
        - protocol: UDP
          port: 5353
    # Unrestricted egress for LDAP/SAML/webhooks, managed/external PostgreSQL,
    # and other user-configured services whose addresses cannot be enumerated.
    - {}
