---
version: 2
cert-makereqs:
  - bits=2048
    commonname: $internal_hostname
    dnsname: $internal_hostname
    nodeid: $internal_hostname
    outreq: /etc/receptor/tls/receptor.req
    outkey: /etc/receptor/tls/receptor.key
{% if external_hostname is defined %}
    dnsname:$external_hostname
{% endif %}
{% if external_ipaddress is defined %}
    ipaddress:$external_ipaddress
{% endif %}
cert-signreqs:
  - req: /etc/receptor/tls/receptor.req
    cacert: /etc/receptor/tls/ca/mesh-CA.crt
    cakey: /etc/receptor/tls/ca/mesh-CA.key
    outcert: /etc/receptor/tls/receptor.crt
    notafter: $(date --iso-8601=seconds --utc --date "10 years")
    verify: yes