---
apiVersion: v1
kind: StatefulSet
metadata:
  name: '{{ meta.name }}-postgres'
  namespace: '{{ meta.namespace }}'
  labels:
    app: tower-postgres
spec:
  selector:
    matchLabels:
      app: tower-postgres
  serviceName: '{{ meta.name }}'
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: tower-postgres
    spec:
      containers:
        - image: '{{ mariadb_image }}'
          name: postgres
          env:
            - name: POSTGRES_DB
              value: awx
            - name: POSTGRES_USER
              value: awx
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: '{{ meta.name }}-postgres-pass'
                  key: password
          ports:
            - containerPort: 3306
              name: postgres
          volumeMounts:
            - name: postgres
              mountPath: /var/lib/postgresql/data
              subPath: data
  volumeClaimTemplates:
    - metadata:
        name: postgres
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: '{{ tower_postgres_storage_request }}'
