# Memcached Deployment.
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ meta.name }}-memcached'
  namespace: '{{ meta.namespace }}'
  labels:
    app: tower-memcached
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tower-memcached
  template:
    metadata:
      labels:
        app: tower-memcached
    spec:
      containers:
      - name: memcached
        image: '{{ tower_memcached_image }}'
        ports:
        - containerPort: 11211

# Memcached Service.
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ meta.name }}-memcached'
  namespace: '{{ meta.namespace }}'
  labels:
    app: tower-memcached
spec:
  clusterIP: None
  ports:
  - port: 11211
    protocol: TCP
    targetPort: 11211
  selector:
    app: tower-memcached
