# RabbitMQ Deployment.
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ meta.name }}-rabbitmq'
  namespace: {{ meta.namespace }}
  labels:
    app: tower-rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tower-rabbitmq
  template:
    metadata:
      labels:
         app: tower-rabbitmq
    spec:
      containers:
      - image: '{{ tower_rabbitmq_image }}'
        name: rabbitmq
        env:
        - name: RABBITMQ_DEFAULT_VHOST
          value: awx
        - name: RABBITMQ_NODE_PORT
          value: 5672
        ports:
        - containerPort: 15672
        - containerPort: 5672

# RabbitMQ Service.
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ meta.name }}-rabbitmq'
  namespace: '{{ meta.namespace }}'
  labels:
    app: tower-rabbitmq
spec:
  clusterIP: None
  ports:
  - port: 5672
    protocol: TCP
    targetPort: 5672
  selector:
    app: tower-rabbitmq
