# Postgres Secret.
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ meta.name }}-postgres-pass'
  namespace: '{{ meta.namespace }}'
data:
  password: '{{ tower_postgres_pass | b64encode }}'

# Postgres StatefulSet.
---
apiVersion: v1
kind: StatefulSet
metadata:
  name: '{{ meta.name }}-postgres'
  namespace: '{{ meta.namespace }}'
  labels:
    app: tower-postgres
spec:
  selector:
    matchLabels:
      app: tower-postgres
  serviceName: '{{ meta.name }}'
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: tower-postgres
    spec:
      containers:
        - image: '{{ tower_postgres_image }}'
          name: postgres
          env:
            - name: POSTGRES_DB
              value: awx
            - name: POSTGRES_USER
              value: awx
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: '{{ meta.name }}-postgres-pass'
                  key: password
            - name: PGDATA
              value: '{{ tower_postgres_data_path }}'
          ports:
            - containerPort: 3306
              name: postgres
          volumeMounts:
            - name: postgres
              mountPath: '{{ tower_postgres_data_path | dirname }}'
              subPath: '{{ tower_postgres_data_path | dirname | basename }}'
  volumeClaimTemplates:
    - metadata:
        name: postgres
      spec:
        accessModes:
          - ReadWriteOnce
{% if tower_postgres_storage_class != '' %}
        storageClassName: '{{ tower_postgres_storage_class }}'
{% endif %}
        resources:
          requests:
            storage: '{{ tower_postgres_storage_request }}'

# Postgres Service.
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ meta.name }}-postgres'
  namespace: '{{ meta.namespace }}'
  labels:
    app: tower-postgres
spec:
  ports:
    - port: 5432
  clusterIP: None
  selector:
    app: tower-postgres

