# Postgres Secret.
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-postgres-configuration'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/part-of: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    app.kubernetes.io/component: '{{ deployment_type }}'
    app.kubernetes.io/operator-version: '{{ lookup("env", "OPERATOR_VERSION") }}'
stringData:
  password: '{{ awx_postgres_pass }}'
  username: '{{ awx_postgres_user }}'
  database: '{{ awx_postgres_database }}'
  port: '{{ awx_postgres_port }}'
  host: '{{ ansible_operator_meta.name }}-postgres-{{ supported_pg_version }}'
  type: 'managed'
